altgraph==0.17.3
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
docutils==0.20.1
ffpyplayer==4.5.0
flatbuffers==23.5.26
idna==3.4
Kivy==2.2.1
Kivy-Garden==0.1.5
kivymd @ https://github.com/liquidiert/KivyMD/archive/master.zip
materialyoucolor==1.2.0
mypy-extensions==1.0.0
numpy==1.25.2
objectbox==0.5.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
plyer==2.1.0
Pygments==2.16.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.7
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.4
